# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# API Keys
API_KEY="your-api-key-here"

# Google reCAPTCHA
GOOGLE_RECAPTCHA_SITE_KEY="6LfoR_UrAAAAAHmuvYjKUoCTEX6sdtEnN_rNJYY-"

# API URL
URL="http://localhost:1234"

# Environment
NODE_ENV="development"
